* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures that padding and border are included in the element's total width/height */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1rem;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 1.5rem;
  text-align: left;
  width: 100%;
  min-width: 75px;
}

th:first-child,
td:first-child {
  width: 1rem;
}

td:nth-child(2) {
  overflow-wrap: anywhere;
}

.mb {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.centered {
  margin: 0 auto;
}

.page {
  width: 80vw;
  padding: 1.5rem;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-status .circle {
  margin-left: 1.5rem;
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
}
