* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures that padding and border are included in the element's total width/height */
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 1.5rem;
  text-align: left;
  width: 100%;
}

th:first-child,
td:first-child {
  width: 1rem;
}

td:nth-child(2) {
  overflow-wrap: anywhere;
}

tr:nth-child(even) {
  background-color: #415a77;
}

tr:nth-child(odd) {
  background-color: #e0e1dd;
}

.mb {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.page {
  padding: 1.5rem;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
